@charset "UTF-8";
/* CSS Document */

/*********************************************************		Masthead		***************/

@media only screen and (min-width: 12em) {
	
	/*.logo {
		width: 60px;
		position: absolute;
		margin-top: 30%;
		margin-left: -1.5rem;
	}*/
	
	.header {
		height: 3rem;
		background-color: #404048;
		position: absolute;
		top: 0rem;
		width: 100%;
	}
	
	nav {
		list-style: none;
	}
	
	nav li {
		display: inline-block;
		color: #fff;
		font-family: 'Archivo Narrow', sans-serif;
		padding-right: 1.5rem;
		margin-top: -3rem;
	}
	
	nav a {
		color: #fff;
		text-decoration: none;
	}

}

@media only screen and (min-width: 30em) {

	.header {
		height: 5rem;
		position: absolute;
		top: 0rem;
		width: 100%;
	}
	
	nav {
		padding-left: 1rem;
	}
	
	nav li {
		display: inline-block;
		color: #fff;
		font-family: 'Archivo Narrow', sans-serif;
		padding-right: 4rem;
		font-size: 1.25rem;
		padding-top: .75rem;
	}
	
	nav a {
		color: #fff;
		text-decoration: none;
	}
		
	.logo {
		width: 40px;
	}
	
}

/*********************************************************		Body			***************/


@media only screen and (min-width: 12em) {
	
	.intro-para {
		background-image: url("http://placehold.it/1500x800");
		background-position: 50% 50%;
		background-position: 50%; 
		background-position: 100px 100px;
		background-position: center;
		background-repeat: no-repeat;
		padding: 3rem 0;
		margin-top: 0;
	}
	
	.intro {
		margin: 4rem auto 1rem;
	}

	.intro-desc {
		width: 70%;
		margin: 0 auto 2rem;
	}
}

@media only screen and (min-width: 30em) {

	.intro-para {
		padding: 8rem 0;
		margin-top: 0;
		margin-bottom: 0;
}

}

@media only screen and (min-width: 50em) {

	.intro-para {
		padding: 16rem 0 16rem;
		margin-top: 0;
		margin-bottom: 0;
}

}

/******************************************************* ABOUT **********************/

.about {
	padding: 6rem 0;
	background-color: #8fd4bc;
}

.about p {
	color: #000;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 1rem;
}

.about p:last-child {
	padding-bottom: 0;
}

@media only screen and (min-width: 12em) {

.visible {
	visibility: hidden;
	display: none;
}
}

@media only screen and (min-width: 30em) {

.visible {
	visibility: visible;
	display: block;
}
}

/******************************************************* GRID **********************/
	
	
	.image-grid {
		padding: 6rem 0;
		margin: 0;
		background-color: #404048;
		overflow: hidden;
	}
	
	.image-grid img {
		display: block;
		width: 100%;
	}
	
	.image:link {
		display: block;
		opacity: 1.0;
	}
	
	.image:active {
		color: #8F8F8F;
		opacity: 0.75;
	}
		
	.image:hover {
		transition: opacity 0.4s ease-out;
		color: #8F8F8F;
		opacity: 0.75;
	}
			
	
@media only screen and (min-width: 12em) {
	
	.box-s-1 {
		width: 100%;
		float: left;
	}
	
	.box-s-1-2 {
		width: 50%;
		float: left;
	}
}

@media only screen and (min-width: 30em) {

	.box-m-1-3 {
		width: 33.333333333333333333%;
		float: left;
	}
}

@media only screen and (min-width: 50em) {

	.box-xl-1-5 {
		width: 20%;
		float: left;
	}
}

/*********************************************************		Contact		***************/

.width {
	width: 100%;
	background-color: #ff8671;
}

.logo-inline {
	padding-left: 1rem;
	height: 30px;
	margin-bottom: -.4rem;
}

.logo-inline-list {
	height: 25px;
	padding-left: 1.5rem;
}

@media only screen and (min-width: 12em) {

.contact-list {
	visibility: visible;
	font-family: 'Archivo Narrow', sans-serif;
	color: #fff;
	text-align: left;
	line-height: 2rem;
	margin-left: -22px;
	padding: 3rem 0;
}

.contact-table {
	visibility: hidden;
	display: none;
}
}

@media only screen and (min-width: 30em) {

.contact-table {
	padding: 10rem 0;
	margin: 0 auto;
	clear: both;
	visibility: visible;
	display: table;
	line-height: 2.25rem;
}

.contact-list {
	visibility: hidden;
	display: none;
}

.right-hand {
	text-align: right;
	padding-right: 1rem;
	font-weight: 400;
	font-style: italic;
}

.left-hand {
	text-align: left;
	padding-left: 1rem;
	font-weight: 700;
}

}

@media only screen and (min-width: 30em) {

	.contact-table {
		font-size: 1.25rem;
		line-height: 2.75rem;
	}
}

.mail {
	list-style: none;
	color: #fff;
}

/*********************************************************		Footer		***************/

@media only screen and (min-width: 12em) {
	
	.foot {
		height: 3.25rem;
		background-color: #404048;
		width: 100%;
		overflow: auto;
	}
	
	.copyright {
		text-align: left;
		margin-left: 18px;
		color: #fff;
	}
}

@media only screen and (min-width: 30em) {
	
	.foot {
		height: 4rem;
		background-color: #404048;
		width: 100%;
		overflow: auto;
	}
	
	.copyright {
		text-align: left;
		margin-left: 18px;
		color: #fff;
	}
}