@charset "UTF-8";
/* CSS Document */

/*********************************************************		Masthead		***************/

@media only screen and (min-width: 14em) {
	
	.header {
		height: 3rem;
		background-color: #3C3C3C;
		position: absolute;
		top: 0rem;
		width: 100%;
	}
	
	nav {
		text-align; center;
		margin-top: 0;
		list-style: none;
		position: relative;
		top: -30px;
		left: -14px;
	}
	
	nav li {
		display: inline-block;
		color: #fff;
		font-family: 'Archivo Narrow', sans-serif;
		padding-right: 1.5rem;
	}
	
	nav li:last-child {
		padding-right: 0;
	}
		
	.logo {
		margin: 0;
		position: relative;
		top: 5px;
	}
	
}

/*********************************************************		Body			***************/


@media only screen and (min-width: 14em) {
	
	body {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	h1 {
	}
	
	h2 {
		font-size: 1	.4em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	h3 {
		font-size: 1.2em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	h4 {
		font-size: 1em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	p {
		font-family: 'Archivo Narrow', sans-serif;
	}
	
}
	
	
/******************************************************* GRID **********************/
	
	.image-grid {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	.image-grid:hover > li {
		opacity: 0.75;
		transition: opacity 0.3s ease-in;
	}
	.image-grid:hover > li:hover {
		opacity: 1.0;
		transition: opacity 0.3s ease-in;
	}
	
@media only screen and (min-width: 14em) {
	
	.box-s-1-2 {
		width: 50%;
		float: left;
	}
}

@media only screen and (min-width: 30em) {

	.box-m-1-3 {
		width: 33.333333333333333333%;
		float: left;
	}
}

@media only screen and (min-width: 50em) {

	.box-l-1-4 {
		width: 25%;
		float: left;
	}
}

@media only screen and (min-width: 70em) {

	.box-xl-1-5 {
		width: 20%;
		float: left;
	}
}

/*********************************************************		Footer		***************/

@media only screen and (min-width: 14em) {
	
	.foot {
		height: 3rem;
		background-color: #3C3C3C;
		width: 100%;
		overflow: auto;
	}
	
	.copyright {
		text-align: left;
		margin-left: 18px;
		color: #fff;
	}
}








