@charset "UTF-8";
/* CSS Document */

/*********************************************************		Masthead		***************/

@media only screen and (min-width: 14em) {
	
	.header {
		height: 3rem;
		background-color: #3C3C3C;
		position: absolute;
		top: 0rem;
		width: 100%;
	}
	
	nav {
		text-align; center;
		margin-top: 0;
		list-style: none;
		position: relative;
		top: -30px;
		left: -14px;
	}
	
	nav li {
		display: inline-block;
		color: #fff;
		font-family: 'Archivo Narrow', sans-serif;
		padding-right: 1.5rem;
	}
	
	nav li:last-child {
		padding-right: 0;
	}
		
	.logo {
		margin: 0;
		position: relative;
		top: 5px;
	}
	
}

/*********************************************************		Body			***************/


@media only screen and (min-width: 14em) {
	
	.halfscale {
		visibility: visible;
		width: 100%;
		margin: 3rem auto 7rem;
	}
	
	.fullscale {
		visibility: hidden;
		width: 100%;
		margin-top: 3rem;
		background-color: #7D7D7D;
	}
	
	.intro {
		margin-top: -38rem;
		font-size: 1.5rem;
	}

	.intro-desc {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
}
	
@media only screen and (min-width: 30em) {
	
	.halfscale {
		visibility: hidden;
		display: none;
	}
	
	.fullscale {
		visibility: visible;
		width: 100%;
		margin-top: 3rem;
		background-color: #7D7D7D;
	}
	
	.intro {
		margin-top: -12rem;
		font-size: 1.5rem;
	}

	.intro-desc {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	
}

@media only screen and (min-width: 50em) {
	
	.fullscale {
		visibility: visible;
		width: 100%;
		margin-top: 3rem;
		background-color: #7D7D7D;
	}
	
	.intro {
		margin-top: -16rem;
		font-size: 1.5rem;
	}

	.intro-desc {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	
}


@media only screen and (min-width: 14em) {
	
	body {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	h1 {
	}
	
	h2 {
		font-size: 1	.4em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	h3 {
		font-size: 1.2em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	h4 {
		font-size: 1em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	p {
		font-family: 'Archivo Narrow', sans-serif;
		font-size: 1rem;
	}
	
	table td {
		font-family: 'Archivo Narrow', sans-serif;
		color: #fff;
	}
	
	ul {
		list-style: none;
	}
	
	ol {
		list-style: none;
	}
	
	
}
	
/******************************************************* GRID **********************/
	
	
	.image-grid {
		margin-top: 5rem;
		padding: 5rem 0;
		background-color: #7D7D7D;
	}
	
	.image {
		display: block;
		opacity: 1.0;
	}
	
	.image:hover {
		transition: opacity 0.2s ease-in;
		color: #8F8F8F;
		opacity: 0.75;
	}
			
	
@media only screen and (min-width: 14em) {
	
	.box-s-1-2 {
		width: 50%;
		float: left;
	}
}

@media only screen and (min-width: 30em) {

	.box-m-1-3 {
		width: 33.333333333333333333%;
		float: left;
	}
}

@media only screen and (min-width: 50em) {

	.box-l-1-4 {
		width: 25%;
		float: left;
	}
}

@media only screen and (min-width: 70em) {

	.box-xl-1-5 {
		width: 20%;
		float: left;
	}
}

/*********************************************************		Contact		***************/

@media only screen and (min-width: 14em) {

.contact-list {
	visibility: visible;
	font-family: 'Archivo Narrow', sans-serif;
	color: #fff;
	background-color: #4A4A4A;
	text-align: left;
	padding-top: 10rem;
}

.contact-table {
	visibility: hidden;
	display: none;
}
}

@media only screen and (min-width: 30em) {

.contact-table {
	padding: 10rem 0;
	margin: 0 auto;
	clear: both;
	visibility: visible;
	display: table;
	line-height: 2.25rem;
}

.contact-list {
	visibility: hidden;
	display: none;
}

.width {
	width: 100%;
	background-color: #4A4A4A;
}

.right-hand {
	text-align: right;
	padding-right: 1rem;
	font-weight: 400;
	font-style: italic;
}

.left-hand {
	text-align: left;
	padding-left: 1rem;
	font-weight: 700;
}

.logo-inline {
	padding-right: 1rem;
}

}


/*********************************************************		Footer		***************/

@media only screen and (min-width: 14em) {
	
	.foot {
		height: 3rem;
		background-color: #3C3C3C;
		width: 100%;
		overflow: auto;
	}
	
	.copyright {
		text-align: left;
		margin-left: 18px;
		color: #fff;
	}
}








