@charset "UTF-8";
/* CSS Document */

@media only screen and (min-width: 12em) {
	
	body {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	h1 {
	}
	
	h2 {
		font-size: 1.4em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	h3 {
		font-size: 1.2em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	h4 {
		font-size: 1em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	p {
		font-family: 'Archivo Narrow', sans-serif;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	
	em {
		font-style: italic;
	}
	
	strong {
		font-weight: bold;
	}
	
	table td {
		font-family: 'Archivo Narrow', sans-serif;
		color: #404048;
	}
	
	ul {
		list-style: none;
	}
	
	ol {
		list-style: none;
	}	

	.text-left {
	  text-align: left;
	}
	
	.text-right {
	  text-align: right;
	}
	
	.text-center {
	  text-align: center;
	}
	
	.normal {
	  font-weight: normal;
	}
	
	.bold {
	  font-weight: bold;
	}
	
	.italic {
	  font-style: italic;
	}
		
	table td {
		font-family: 'Archivo Narrow', sans-serif;
		color: #404048;
	}
	
	a {
		list-style: none;
	}
	
}

@media only screen and (min-width: 30em) {
	
	h2 {
		font-size: 2.25em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		padding-bottom: 2rem;
	}
	
	p {
		font-family: 'Archivo Narrow', sans-serif;
		font-size: 1.15rem;
		line-height: 1.75rem;
	}
	
}

@media only screen and (min-width: 50em) {

	h2 {
		font-size: 2.5em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		padding-bottom: 2rem;
	}
	
	h3 {
		font-size: 1.75em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	h4 {
		font-size: 1em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	
	p {
		font-family: 'Archivo Narrow', sans-serif;
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

}

/* ********************************** 404 *****************/

.text-white {
	color: #fff;
}